<p>basic works!</p>
<!--
<tabset>
    <tab heading="calcul tva">
         <app-tva></app-tva>
   </tab>
   <tab heading="calculatrice">
        <app-calculatrice></app-calculatrice>
   </tab>
</tabset>
-->
<div class="row">
     <div class="col-sm-4">
          <a routerLink="/basic/tva" >tva</a><br/>
          <a routerLink="/basic/calculatrice/simple" >calculatrice simple</a><br/>
          <a routerLink="/basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br/>
          <ul>
               <li *ngFor="let r of subRoutes"><a [routerLink]="['/basic',r]" >{{r}}</a></li>
          </ul>
     </div>
     <div class="col-sm-8">
          <router-outlet></router-outlet>
     </div>
</div>

